.skills {
  background: darkgray;
  display: inline-flex;
  width:100%;
  height: 17rem;
}
.skill1 {
  padding: 2.5rem 0;
  text-align: center;
  transition: 0.5s;
  animation-name: skilla;
  animation-duration: 2s;
  animation-iteration-count: 1;
  font-size: 15px;
  width:25%;
}
@keyframes skilla {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0px);
  }
}
.skill2 {
  padding: 2.5rem 0;
  text-align: center;
  transition: 0.5s;
  animation-name: skillb;
  animation-duration: 2s;
  animation-iteration-count: 1;
  width:25%;
}
@keyframes skillb {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0px);
  }
}

.skill-title {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1em;
  margin-bottom: 1.5rem;
  color: #bd1220;
  transition: 0.5s;
}
.skill-text {
  max-width: 13rem;
  margin: 0 auto;
  text-shadow: 10px;
}

.skill1:hover {
  background:#555555;
  opacity: 1.2;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
}
.skill2:hover {
  background: #555555;
  opacity: 1.2;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
}

.skill1:hover .skill-title {
  color: #bd1220;
  font-size: 17px;
}

.skill2:hover .skill-title {
  color: #bd1220;
  font-size: 17px;
}

.skill1:hover .skill-text {
  color: white;
}
.skill2:hover .skill-text {
  color: white;
}